How to modify content of HEADER?

How can I modify content of token HEADER block?


Hi @rajesh-vi,

Let's take the default header:

`Authorization: Bearer [MY_JWT_TOKEN]`

Which part would you want to change? Is it `Authorization`, `Bearer` or `[MY_JWT_TOKEN]` (which is the JWT token itself)?

I want to change header block in jwt token, 
for example:
`{
  "alg": "RS256",
  "typ": "JWT"
}`

I just want to remove alg property and add some more properties.


I am not sure you can modify the header.

Concerning the `alg` parameter, it must be set in the header otherwise the JWT will be rejected.
This header parameter is described in the [RFC7515 section 4.1.1](https://tools.ietf.org/html/rfc7515#section-4.1.1).

Our built-in encoder doesn't allow to modify the header, but I think it could be a nice addition (after a quick look, it seems to be doable for our two built-in encoders), @Spomky WDYT? 

However, it should not allow to remove headers, only adding custom ones, because of what Spomky stated (the headers added by default must be present for being able to decode the token).

@rajesh-vi would the addition of new elements in the header interesting enough for you?

Ok, but please have a look on this article
https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/
they have suggestion for jwt standard to remove alg from header, that's why I'm asking for this modification.

Thanks

The header is used to describe the JWT: algorithm, content type, key used to sign...

You are right the vulnerability mentioned in the blog post is a serious vulnerability and pretty easy to perform. However I disagree with the remedial action. The problem is not about the presence of that header parameter, but the verification performed by the JWT loader.

AFAIK, `namshi/jose` has been fixed and is correctly used by this bundle ([`false` is set as 2nd argument of the `load` method](https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Services/JWSProvider/DefaultJWSProvider.php#L85)).
Same goes for `lcobucci/jwt` since v4.0.0 or the encoder I developed.

An audit/Tests may be performed on that topic to be sure this bundle is immune.

Concerning the parameter modification/addition feature, I am not sure it is relevant.
The header is set by the encoder for the decoder. In this context, the decoder just need to verify the algorithm is the same as the one in the configuration file.

If there is a specific need, the bundle allows:
- claims to be added into the payload.
- the use of a custom encoder that could implement that feature.


Hello @Spomky,

Can you please confirm `namshi/jose` bundle version for this fix?



[`v2.2.0`](https://github.com/namshi/jose/releases/tag/2.2.0)

@rajesh-vi What's the state of this issue? Are you fine with creating your own encoder based on the built-in one for solving this need? 