"bearer" is case sensitive

It looks like the the `token_type` is case insensitive, and according to the spec, it should not be, see this blog post:
https://sgeb.io/posts/2015/05/fix-go-oauth2-case-sensitive-bearer-auth-headers/

https://github.com/lexik/LexikJWTAuthenticationBundle/blob/ddfd184c8dd2f56b0b01bc5731dc84c9c9396701/TokenExtractor/AuthorizationHeaderTokenExtractor.php#L51-L53

The same blog post says this though: 

> On the other hand, RFC 6750 section 2.1 states that the Authorization header scheme for bearer tokens must be capitalized:

But I think we should apply the "be liberal with your input, and strict with your output" rule here