Expiration Time in Future That Uses Server Time

I have big question about how this bundle sends expiration time to the client.

```php
$payload = array(
  'exp' => time() + $this->ttl
);
```

What we do here, we take **server time**, its not even GMT, it might be any timezone and send it to the client, which can have **different timezone**. That mean, if Client uses this **exp** field to compare it to its own time and invalidate it might fail or enter into never-ending loop.

Why not to send only TTL in seconds and then every client can do their own math, just but subtracting seconds or setup timer comparing to their own time?

I know that its possible to override it, but it my introduce confusion and potential problems in the projects where people will use this bundle.

Thoughts?

You are right, in the [RFC7519, section 4.1.4](https://tools.ietf.org/html/rfc7519#section-4.1.4), it is only said that
>  The "exp" (expiration time) claim identifies the expiration time on or after which the JWT MUST NOT be accepted for processing.  The processing of the "exp" claim requires that the current date/time MUST be before the expiration date/time listed in the "exp" claim. Implementers MAY provide for some small leeway, usually no more than a few minutes, to account for clock skew.  Its value MUST be a number containing a NumericDate value.  Use of this claim is OPTIONAL.

There is no information concerning the server time and how this claim is computed. Audiences cannot make assumption on the timezone used by the server.

As you proprose, we could send a `TTL`, but JWT are supposed to be stateless and a `TTL` requires to know when the the JWT has been issued to verify if it is still valid.

IMHO, the server MUST indicate the timezone used to compute the `exp` claim and this timezone should be known by all audiences that might receive a JWT.
A better way could be a new claim that indicates the timezone (e.g. `tze => UTC` or `tze => +0500`).

Hi,

The main reason the expiration date is stored as unix timestamp in the "exp" claim is that the underlying encoding library [checks for a numeric value before proceeding to validation](https://github.com/namshi/jose/blob/master/src/Namshi/JOSE/SimpleJWS.php#L61). You are right, the RFC is pretty vague about the "exp" claim format so I guess it was a good choice on their part, and the [lcobucci/jwt library](https://github.com/lcobucci/jwt/blob/24225a3cf7b3d8dca0eda23af5b1c403d0268cbc/src/Builder.php#L94) uses the same strategy.

I don't know if the token was meant to be decoded and the "exp" claim to be used directly by client applications. For me it is meant to be used by the server only, but I might be wrong. 

In the meantime, you can add any arbitrary data to the token itself or to the response that sends the token to the client, see https://github.com/lexik/LexikJWTAuthenticationBundle/blob/master/Resources/doc/2-data-customization.md.

Does anyone has more informations on the subject ?

I've already customised exp response :) When you use JWT for Single Page App, you want to refresh token after some time, and you want to do that in advance, so token is not destroyed when person is using your product.

When we talk about SPA, then we talk about Browsers, browsers will take this field to know, when to perform a refresh. Browsers time is controlled by system time which might be totally different from server time.

Sending TTL might be also enough. I've initially started this issue, as I've seen wrong use of this field on the frontend. People forget about time zone differences that they might have.

@Spomky @slashfan nvm, time() -> returns UTC format, spec also states, that dates should be in UTC format. So any front-end should compare dates in UTC. Everything is fine :)

>  time() -> returns UTC format

This is wrong. `time()` returns the current time measured in the number of seconds since the Unix Epoch and depends on the timezone.

Just try the following code:
```php
ini_set('date.timezone', 'Europe/Berlin');
date('H:i:s', time()); // 12:00:00

ini_set('date.timezone', 'UTC');
$time6 = date('H:i:s', time()); // 10:00:00
```

If you want to be sure to get the timestamp at `UTC+0`, you should use the following code:
```php
$timestamp = time() - date('Z');
```

@Spomky this comment in php.net http://php.net/manual/en/function.time.php#117402 really confuses me then :) I've initially thought, that time() is taking into consideration timezone, read through comments in php.net and changed my mind :)

PHP's `time()` is the **Unix timestamp** which by definition is GMT/UTC time. See [Google](https://encrypted.google.com/search?q=what+is+the+unix+timestamp).

[PHP's docs](http://php.net/manual/en/function.time.php#117402) (which you linked to) also explicitly state that `time()` is the number of seconds since January 1 1970 00:00:00 **GMT**
You can test this easily.
1) `echo time()`
2) copy the number and paste it in `http://www.onlineconversion.com/unix_time.htm` to get it a friendly format
3) Then ask google "What's the current GMT time?" ([Answer](https://encrypted.google.com/search?sclient=psy-ab&btnG=Search&q=what%27s+the+current+utc+time))

By the way, JSON Web Tokens signed by the server are not supposed to be changed by the client (browser) without invalidating them.  The secret key used to sign them should remain on the server, and in general, the server should not trust clients.  If a client could change a token without invalidating it, then then the client could impersonate any user and the server would be fooled.

@RoxKilly yea, basically, nothing needs to be changed.

but what for was your comment about changing JWT by the client? No one is talking about changing them. You receive exp on the client side, you enable timer, when you would like to request a refresh for the token.

My mistake.  In your OP when you wrote:
> I know that its possible to override it...

And later, @slashfan  responded:
> I don't know if the token was meant to be decoded and the "exp" claim to be used directly by client applications. For me it is meant to be used by the server only, but I might be wrong.

I thought you meant that it's possible for the client to change the token in order to "fix" the `exp` claim.

@RoxKilly misunderstanding :) exp is meant to be used by client, by there is no need to decode it :) I'll close ticket as its working fine. Thx!

sd